<div class="dark:scrollbar dark:scrollbar-thumb-gray-600 dark:scrollbar-track-gray-900 absolute top-0 left-0 z-10 flex h-screen w-full overflow-y-auto bg-white/90 dark:bg-black/90">
	<div class="m-2 mt-2 mb-2 flex h-fit min-h-screen grow flex-col justify-start rounded-lg border border-black p-2 dark:border-gray-400">
		<input class="m-2 cursor-pointer rounded-lg border border-black bg-transparent p-2 dark:border-gray-400" type="text" placeholder="Pon un nombre a tu Clase" [(ngModel)]="clase.nombreClase" />
		@if (clase.idClase === 0) {
			<div class="flex flex-col items-center md:flex-row">
				<button id="claseVideo" class="text- m-2 cursor-pointer rounded-lg border border-black p-2 text-blue-700 dark:border-gray-400" (click)="cambiaTipoClase(0)">Clase en Video pre-gravado</button>
				<button id="claseOBS" class="m-2 cursor-pointer rounded-lg border border-black p-2 dark:border-gray-400" (click)="cambiaTipoClase(1)">Clase en Vivo desde OBS</button>
				<button id="claseWebCam" class="m-2 cursor-pointer rounded-lg border border-black p-2 dark:border-gray-400" (click)="cambiaTipoClase(2)">Clase en Vivo desde la Webcam</button>
				<p class="m-2 font-bold text-red-500">ATENCIÓN: No se podrá cambiar el tipo una vez creada la clase</p>
			</div>
			<div class="flex grow flex-col items-center md:flex-row md:items-start">
				<!-- Si no es una clase WebOBS -->
				@if (this.clase.tipoClase !== 2) {
					<div class="m-2 flex w-11/12 flex-col md:w-3/5">
						<!-- Si es una clase de video o una edición-->
						@if (this.clase.tipoClase === 0 || this.clase.idClase !== 0) {
							<app-editor-video [clase]="clase" (videoSeleccionado)="this.subeVideo($event)"></app-editor-video>
						}
						<!-- Si es una clase OBS -->
						@if (this.clase.tipoClase === 1) {
							<app-editor-obs (obsEvent)="obsEvent($event)" [emitiendo]="this.streamingService.emitiendo" [status]="streamingService.status" [urlPreview]="this.streamingService.UrlPreview" [rtmpUrl]="this.streamingService.rtmpUrl"></app-editor-obs>
						}
					</div>
				}
				<div class="m-2 flex w-full grow flex-col">
					<input type="text" class="m-2 cursor-pointer rounded-lg border border-black bg-transparent p-2 dark:border-gray-400" placeholder="Pon una breve descripción de tu clase." [(ngModel)]="clase.descriccionClase" />
					<textarea class="m-2 cursor-pointer rounded-lg border border-black bg-transparent p-2 dark:border-gray-400" rows="5" placeholder="Aquí es donde va todo el contenido de tu clase, todo lo que no esté en el video u en otros contenidos." [(ngModel)]="clase.contenidoClase"></textarea>
				</div>
			</div>
			<!-- Si es una clase WebOBS -->
			@if (this.clase.tipoClase === 2) {
				<web-obs class="m-2" (emision)="emiteWebOBS($event)" (savePresets)="savePresets($event)" [isInLive]="this.streamingService.emitiendo" [status]="streamingService.status" [savedPresets]="this.savedPresets" [savedFiles]="this.savedFiles"></web-obs>
			}
		} @else {
			<div class="flex grow flex-col items-center md:flex-row md:items-start">
				<div class="m-2 flex w-11/12 flex-col md:w-3/5">
					<!-- Si es una clase de video o una edición-->
					<app-editor-video [clase]="clase" (videoSeleccionado)="this.subeVideo($event)"></app-editor-video>
				</div>
				<div class="m-2 flex w-full grow flex-col">
					<input type="text" class="m-2 cursor-pointer rounded-lg border border-black bg-transparent p-2 dark:border-gray-400" placeholder="Pon una breve descripción de tu clase." [(ngModel)]="clase.descriccionClase" />
					<textarea class="m-2 cursor-pointer rounded-lg border border-black bg-transparent p-2 dark:border-gray-400" rows="5" placeholder="Aquí es donde va todo el contenido de tu clase, todo lo que no esté en el video u en otros contenidos." [(ngModel)]="clase.contenidoClase"></textarea>
				</div>
			</div>
		}
		<button id="button-guardar-clase" type="button" class="group relative m-2 cursor-pointer rounded-lg border border-black bg-transparent p-2 dark:border-gray-400" (click)="guardarCambiosClase()" [disabled]="streamingService.emitiendo">
			Guardar Cambios

			<!-- Tooltip -->
			@if (streamingService.emitiendo) {
				<span class="absolute bottom-full left-1/2 mb-2 w-max -translate-x-1/2 rounded bg-black px-2 py-1 text-sm text-white opacity-0 transition-opacity duration-200 group-hover:opacity-100"> Deja de emitir primero </span>
			}
		</button>
	</div>
</div>
