:host {
	width: 100%;
}

@media (min-width: 320px) and (max-width: 639px) {
	.w-xs-1\/2 {
		width: 50%;
	}
}

.adaptive-text {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	line-clamp: 5;
	-webkit-line-clamp: 5; /* un número grande */
	overflow: hidden;
}
