<video #videoPlayer class="video-js vjs-default-skin vjs-big-play-centered mx-auto block aspect-video w-full max-w-3xl" controls preload="auto"></video>
<div class="flex">
	<label for="video-upload" #videoUploadButton class="m-2 grow cursor-pointer rounded-lg border p-2 text-center" [class.border-black]="!isUploading" [class.border-gray-500]="isUploading" [class.text-gray-500]="isUploading" [class.dark:border-gray-400]="!isUploading" (keydown)="keyEvent($event)"> Sube un Video </label>
	<input #videoUploadInput id="video-upload" type="file" accept="video/mp4,video/x-m4v,video/avi,video/webm" class="hidden" (change)="cargaVideo($event)" />
</div>
